@import "tailwindcss";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  justify-content: center;
  align-items: center;
}

@media (min-width: 640px) {
  body {
    align-items: initial;
    justify-content: initial;
  }
}

